@font-face {
  font-family: 'DBOffice';
  src: url('../assets/fonts/dboff03.eot');
  src: url('../assets/fonts/dboff03.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/dboff03.woff') format('woff'),
  url('../assets/fonts/dboff03.ttf') format('truetype'),
  url('../assets/fonts/dboff03.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DBOffice';
  src: url('../assets/fonts/dboff06.eot');
  src: url('../assets/fonts/dboff06.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/dboff06.woff') format('woff'),
  url('../assets/fonts/dboff06.ttf') format('truetype'),
  url('../assets/fonts/dboff06.svg#svgFontName') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DBOffice';
  src: url('../assets/fonts/dboff06.eot');
  src: url('../assets/fonts/dboff06.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/dboff06.woff') format('woff'),
  url('../assets/fonts/dboff06.ttf') format('truetype'),
  url('../assets/fonts/dboff06.svg#svgFontName') format('svg');
  font-weight: 500;
  font-style: normal;
}

$dbOffice: 'DBOffice', 'Open-sans', 'Helvetica', sans-serif;
