@mixin defaultBackgroundColor() {
  background-color: color($colors, light);
}

.mat-datepicker-toggle {
  display: inline-block;
  background: url('../assets/img/icons/icon_calendar.png') no-repeat !important;
  background-size: 100% auto !important;
}
